.comp-portfolio {
	text-align: center;
	.container {
		font-size: 1px;
		.col {
			 @include span(4 of 4);
        @include breakpoint(bpXSmin) {
            @include span(6 of 6);
        }
        @include breakpoint(bpMmin) {
            @include span(14 of 14);
        }
		}
	}
	a {
		padding: 0 4px;
		@include breakpoint(bpPL) {
			padding: 0 8px;					
		}

	}
}