.comp-header {
	padding: 12px 0;
 	h1 {
		text-align: center;
		font-weight: normal;
		margin: 0;
  		padding: 52px 0;
  		font-family: contax_pro_35_thin_sm_capRg, Arial, sans-serif;
	  	font-size: 40px;
  		line-height: 1;
  		@include breakpoint(bpSmin) {
	    	padding: 40px 0;
	    	font-size: 64px;
	    }
	    @include breakpoint(bpMmin) {
	    	padding: 56px 0 24px 0;
	    }
	}
}