.comp-navigation {
	text-align: center;
  padding: 12px 0;
  height: 84px;
  ul {
	display: inline-block;
	margin: 0;
	padding: 0;
		li {
			float: left;
			padding: 0 16px;
			list-style: none;
			a {
				text-decoration: none;
				color: inherit;
        line-height: 60px; 
				font-family: contax_pro_55_sm_capregular, "Helvetica Neue",Helvetica,Arial,sans-serif;
			}
		}
	}
  .language-switch {
    a { 
      opacity: 0.65;
      &.active {
        opacity: 1;
      }
    }
  }
}


.close-btn {
  display: block;
  padding: 0;
  border: 0;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-btn {
  display: block;
  padding: 0;
  border: 0;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

.nav-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;
}

#outer-wrap, #inner-wrap {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#nav .close-btn {
  display: none;
}

@include breakpoint(bpMmin) {
  .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@include breakpoint(bpMmax) {
  
  .comp-navigation {
    ul {
      li {
        text-align: left;
        width: 100%;
      }
    }
  }

  #nav {
    position: absolute;
    top: 0;
    padding-top: 5.25em;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .js-ready #nav {
    height: 100%;
    width: 200px;
    background: $color-grey-600;
    color: $color-grey-0;
    box-shadow: inset -12px 0 12px -7.5px rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .close-btn {
    display: block;
  }

  .js-ready #nav {
    left: -200px;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 200px;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    transform: translate3d(-100%, 0, 0);
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    //left: 0 !important;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    transform: translate3d(200px, 0, 0) scale3d(1, 1, 1);
  }
}