.comp-footer {
	text-align: center;
	font-size: 12px;
 	line-height: 24px;
 	padding: 12px 16px;
 	margin-top: 80px;
 	@include breakpoint(bpXSmin) {
 		margin-top: 0;
	 	position: absolute;
	    bottom: 0;
	    width: 100%;
	}
	.long {
		display: none;
		@include breakpoint(bpMmin) {
			display: inline;
		}
	}
	.short {
		@include breakpoint(bpMmin) {
			display: none;
		}
	}
}

#inner-wrap {
	@include breakpoint(bpXSmin) {
		padding-bottom: 64px;
	}
 	@include breakpoint(bpSmin) {
 		padding-bottom: 96px;
 	}
}