.comp-debug {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    @include elevation(layer-24,0);
    .grid {
        @include span(1 of 4);
        @include breakpoint(bpXSmin) {
            @include span(1 of 6);
        }
        @include breakpoint(bpMmin) {
            @include span(1 of 14);
        }
        .column {
            background-color: red;
            opacity: 0.25;
            height: 2000px;
        }
        border-right: 0.1rem solid red;
        &:last-child {
            border-right: none;
        }
    }
    .row {
        opacity: 0.25;
        border-bottom: 1px solid red;
        padding: 12px 0;
        margin-top: -1px;
        .module {
            background-color: blue;
            opacity: 0.15;
            height: 60px;
        }
    }
    .baseline {
        opacity: 0.25;
        height: 12px;
        border-bottom: 1px dotted gray;
    }
}