.comp-content {
  	padding: 12px 0;
	.mod-mini-portfolio {
		@include span(6 of 14);
		padding: 0;
		.mod-portfolio-item {
			@include span(2 of 6);
			margin: 8px 0;
			img {
				height: auto;
				width: 100%;
				max-width: 100%;
				display: block;
			}
		}
	}
	.spacer {
		@include span(2 of 14);
		min-height: 1px;
	}
	article {
		@include span(6 of 14);
	}
}

.comp-contend-centered {
  	padding: 12px 0;
	.spacer {
		display: none;
		@include breakpoint(bpLmin) {
			display: block;
			@include span(4 of 14);
			min-height: 1px;
		}
	}
	article {
		@include span(4 of 4);
		@include breakpoint(bpLmin) {
			@include span(6 of 14);
		}
	}
}