.mod-portfolio-item {
	background-color: $color-grey-400;
	&.small {

	}
	&.large {
		display: none;
	}
	@include breakpoint(bpPL) {
		&.small {
			display: none;
		}
		&.large {
			display: inline;
		}
	}
	display: inline-block;
		margin-top: 4px;
		margin-bottom: 4px;
		@include breakpoint(bpPL) {
	    	margin-top: 12px;
			margin-bottom: 12px;
			&:hover {
				transition: all 150ms cubic-bezier(0.86, 0, 0.07, 1);
				margin-top: 0;
				margin-bottom: 24px;	
				@include shadow(5);
			}
		}
}