.mod-slide-item {
	margin: 0 8px;
	background-color: $color-grey-400;
	@include breakpoint(bpPL) {
		margin: 0 16px;
	}

	&.small {

	}
	&.large {
		display: none;
	}
	@include breakpoint(bpPL) {
		&.small {
			display: none;
		}
		&.large {
			display: inline;
		}
	}
}

.mod-slide-nav-item {
	margin: 0 8px;
	height: 60px;
	background-color: $color-grey-400;
}


.mod-slide-nav-item {
	&.is-nav-selected, &.is-selected {
		opacity: 0.65;
		@include breakpoint(bpLmin) {
			&:hover {
				opacity: 1;
			}
		}
	}
}

.mod-slide-item-single {
	margin: 0 auto;
	display: block;
	max-width: 96%;
	height: auto;
	background-color: $color-grey-400;
}