

@font-face {
    font-family: 'contax_pro_35_thin_sm_capRg';
    src: url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.eot');
    src: url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.woff2') format('woff2'),
         url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.woff') format('woff'),
         url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.ttf') format('truetype'),
         url('/fonts/contaxpro_35thinsmcap_macroman/ContaxPro35ThinSC-webfont.svg#contax_pro_35_thin_sm_capRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'contax_pro_55regular';
    src: url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.eot');
    src: url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.woff2') format('woff2'),
         url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.woff') format('woff'),
         url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.ttf') format('truetype'),
         url('/fonts/contaxpro_55regular_macroman/ContaxPro55Rm-webfont.svg#contax_pro_55regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'contax_pro_55_sm_capregular';
    src: url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.eot');
    src: url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.woff2') format('woff2'),
         url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.woff') format('woff'),
         url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.ttf') format('truetype'),
         url('/fonts/contaxpro_55smcap_macroman/ContaxPro55RmSC-webfont.svg#contax_pro_55_sm_capregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'contax_pro_75_bold_sm_capbold';
    src: url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.eot');
    src: url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.woff2') format('woff2'),
         url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.woff') format('woff'),
         url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.ttf') format('truetype'),
         url('/fonts/contaxpro_75boldsmcap_macroman/ContaxPro75BoldSC-webfont.svg#contax_pro_75_bold_sm_capbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $color-grey-700;
}

body {
  font-family: contax_pro_55regular, Arial, sans-serif;
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
  font-weight: normal;
  font-style: normal;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    a {
        text-decoration: none;
        color: inherit;
    }
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 2.4rem 0;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 4.1875rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 2.5625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}/*
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a {
  color: #268ED9;
}
*/
