// breakpoints for fluid grid

@mixin breakpoint($point) {
    // mobile first
    @if $point == bpXLmin {
        @media (min-width: $bpXL) { @content; }
    }
    @if $point == bpLmin {
        @media (min-width: $bpL) { @content; }
    }
    @if $point == bpMmin {
        @media (min-width: $bpM) { @content; }
    }
    @if $point == bpSmin {
        @media (min-width: $bpS) { @content; }
    }
    @if $point == bpXSmin {
        @media (min-width: $bpXS) { @content; }
    }

    // desktop first
    @if $point == bpXLmax {
        @media (max-width: $bpXL) { @content; }
    }
    @if $point == bpLmax {
        @media (max-width: $bpL) { @content; }
    }
    @if $point == bpMmax {
        @media (max-width: $bpM) { @content; }
    }
    @if $point == bpSmax {
        @media (max-width: $bpS) { @content; }
    }
    @if $point == bpXSmax {
        @media (max-width: $bpXS) { @content; }
    }

    // aspect first

    @if $point == bpPL {
        @media screen and (min-width: $bpS) and (min-height: 600px) { @content; }
    }

    @if $point == bpPLmax {
        @media screen and (max-width: $bpS) and (max-height: 600px) { @content; }
    }

}
