// background cover
@mixin background-cover() {
  background-position:       50%;
  -webkit-background-size:     cover;
  -moz-background-size:     cover;
  -o-background-size:     cover;
  background-size:     cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
  background-repeat: no-repeat;
}

// background contain
@mixin background-contain() {
  background-position:       50%;
  -webkit-background-size:     contain;
  -moz-background-size:     contain;
  -o-background-size:     contain;
  background-size:     contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale');
  background-repeat: no-repeat;
}
